/* ----------------------------------------------------------------------------------------
* Author            : David Aguilera
* Author Web        : @Davermx
* Website           : Personal Portfolio website
* ---------------------------------------------------------------------------------------- */

    /*=========================
    // Brandin Color portfolio
    ===========================*/
    oscuro = #23232f
    azulbrand = #0777D9
    Azulnice = #448AFF
    azulnicedark = #3F51B5
    azullightbrand = #0597F2
    azuldeepbrand = #0A5DA6 
    indigobrand = #1E2940
    azulgreybrand = #024959
    azuldarkbrand = #1b2127
    darkbrand = #131826
    darkdeepbrand = #191D28
    grey = #95afc0
    greywizard = #535c68
    greyazul = #eef0fc
    dark1 = #151f2d 
    dark2 = #192538 
    dark3 = #121b27 
    

body {
    // background-color #191d28;
    background-color: darkdeepbrand; 
}

// navbar style
.navbar-custom {
    background-color: transparent;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: azullightbrand;
    }

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: azullightbrand;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: azullightbrand;
}

.navbar-custom .dropdown-item {
    color: #ffffff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,1);
}

nav.navbar.navbar-expand-sm.navbar-custom {
    padding: 10px;
}

i.fa.fa-bars.fa-lg.py-1.text-burger {
    color: azullightbrand !important;
}

figure {
    margin: auto;
}

/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.title-hero
    // color: #fff;
    color : azullightbrand;
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: 600;


.title-name 
    // color azullightbrand
    color #fff

.title-profesion
    // color azulbrand
    color #fff


.title-works { 
    font-family: 'Poppins', sans-serif; 
    font-size: 2.5em; 
    color: #ffffff; 
    font-weight: 700; 
    margin-top: 50px; 
} 

.description-works { 
    font-size: 19px; 
} 


#hero 
    background-image: url(../img/heronew.png);
    background-repeat: no-repeat   ;
    background-position: center right;
    background-size: fixed;
    // height: 90vh;
    position: relative;
    // animation-name: heroX;
    // animation-duration: 2s;
    // transition-delay: 7.15s;


.hero-slider {
    position: relative;
    height: 100vh;
}

.logo { 
    margin-right: auto; 
    padding-top: 10px; 
    padding-bottom: 10px; 
} 

.wrapper { 
    background-image: url(../img/suite.svg); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: scroll; 
    position: relative; 
    min-height: 100vh; 
    }  

/*=========== submenu =============*/
li {
 display: block;
 transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
/*=========== /submenu =============*/


/*=========================
 // Animacion Hero
===========================*/
@keyframes heroX
    0%
        opacity: 0;
    100%
        opacity: 1;


    /*=========================
    // escritura del Hero
    ===========================*/
.type-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
#typed {
    display: inline;
}

ul.icon-social {
    list-style: none;
    padding-top: 10px;
}

li.list-icon {
    display: inline-flex;
    padding-right: 1.4em;
}

a img {
    height 40px;
}

img.icon-git {
    color: #fff !important;
}

.social img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0)
}
.social img:hover {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1)
}

.btn-hero{
    border-color: azulbrand !important;
    background: azulbrand !important;
    color: #fff;
}

.btn-hero:hover
    background: transparent !important;
    border: 1px solid azulbrand !important;
    color: azulbrand !important;



#about {
    background-image: url(../img/bg-vera-left.png);
    background-repeat: no-repeat;
    background-position: center;
}


h6.fifi {
    font-family: 'poppins', sans-serif;
    line-height: 30px;
    color: #fff;
}

.title-section-about 
    color: azullightbrand
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding-top 20px


h4.subtitle-about {
    color:  azullightbrand;
}

p.paragraph-about {
    color  #6c757d
}


// title about
.shadow-on-text {
    position: relative;
    bottom: 0;
    left: 0%;
    width: 100%;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 14vw;
    line-height: 1;
    color: rgba(255,255,255,1);
    background: linear-gradient(rgba(75, 77, 100,0.25), rgba(75, 77, 100,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    z-index: 1;
}


.z-bigger {
    z-index: 10;
}


.text-blue-50 {
    color:white ;
}

// Title Passion
.shadow-on-passion {
    position: relative;
    bottom: 0;
    left: 0%;
    width: 100%;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 14vw;
    line-height: 1;
    color: rgba(255,255,255,1);
    background: linear-gradient(rgba(75, 77, 100,0.25), rgba(75, 77, 100,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    z-index: 1;
}

.title-header {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: azullightbrand;
}

h2.section-title {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    position: relative;
    z-index: 9;
}

.Description-title {
    font-size: 25px;
    font-weight: 600px;
    line-height: 100%;
    margin-top:12px;
    position: relative;
    z-index: 9;
}

.description-servicio {
    font-size: 0.8em;
}

.title-servicio {
    color: indigobrand;
}


.card-section {
    background-color: indigobrand;    
    padding: 30px;
    margin-top: 30px;
    display: inline-block;
}

.card-section:hover {
    transition: all 0.3s ease-out 0s;
    // background: RGBA(63,81,181,0.90);
    background-image: -webkit-linear-gradient(135deg, #7121ff 0%, #21d4fd 100%);
}

.card-section:hover img {
    transform: translateY(-10px)
    transition: .3s;
}

.card-icon img {
    display: flex;
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
}

.icon-passion {
    margin: auto;
}

img.icon-passion.desk  {
    width: 70px;
}

.footer-line {
    width: 100%;
    height: 1px;
    background: #00eaff;
    background: linear-gradient(90deg,#00eaff 0%, #9708cc 85%);
    background: -webkit-linear-gradient(90deg,#00eaff 0%, #9708cc 85%);
    background: -moz-linear-gradient(90deg,#00eaff 0%, #9708cc 85%);
}

.title-portfolio {
    margin-top: 20px;
    margin-bottom: 20px;
    color: azullightbrand;
}

.no-p {
    padding: 0px;
}

.category {
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
}

.section-modulos { 
    background-color: #fff; 
    background-image: url(../img/04b.png) 
    background-repeat: no-repeat; 
    // background-color: #edf4ff; 
    // background-color: #c5cae9; 
} 

.title-modulos { 
    display: inline-block; 
    font-size: 40px; 
    font-weight: 600; 
    line-height: 100%; 
    padding-top: 30px; 
    padding-bottom: 30px; 
    // position: relative; 
} 
 
.wave-shape { 
    position: absolute; 
    width: 100%; 
    height: auto; 
    left: 0; 
    bottom: 100%; 
    // top: 100%; 
} 
 
 
.title-modulos-gise { 
    display: inline-block; 
    font-size: 40px; 
    font-weight: 700; 
    line-height: 100%; 
    padding-top: 50px; 
    padding-bottom: 30px; 
} 
 

.overlay:hover .category {
    opacity: 1;
    color: #FFFFFF;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 20%;
    min-height: 100%;
    transition: all 0.1s ease 0s;
}


a.link-card {
    text-decoration: none;
    color: #fff;
}

.title-card {
    color: #fff;
}

img.img-card {
//     height 267px;
    max-width: 100%;
}


.title-pro-personal {
    margin-top: 80px;
    color: azullightbrand;
}

.title-line {
    width: 20%;
    height: 1px;
    background-color: RGBA(5,151,242,1);
}


.title-invoicer {
    text-align: center;
    font-size: 1.5em;
    color: grey;
}

.title-gise { 
    text-align: center; 
    font-size: 1.5em; 
    color: oscuro; 
}

.description-invoicer {
    color: #fff;
}

.description-modulos { 
    color: oscuro; 
}

a.link-emprendimiento {
    text-decoration: none;
    color: azullightbrand;
}

ul.list-emprender {
    list-style:none;
    display: inline-flex !important;
    padding-left: 0;
}

li.icon-social-emprender {
    padding-right: 1em;
    margin-left: 0;
}

#partners {
    background: rgb(30,41,64);
    background: -moz-radial-gradient(circle, rgba(30,41,64,1) 0%, rgba(30,39,57,1) 50%, rgba(29,36,49,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(30,41,64,1) 0%, rgba(30,39,57,1) 50%, rgba(29,36,49,1) 100%);
    background: radial-gradient(circle, rgba(30,41,64,1) 0%, rgba(30,39,57,1) 50%, rgba(29,36,49,1) 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin-top: 150px;
    margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto;
}


.title-partners {
    font-family: 'poppins', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    color: greyazul;
    text-align: center;
    margin: 50px auto;
}

.multiple-items {
    position: relative;
    display: block;
    margin: 0 auto;
}


.partners-img {
    height: 200px;
    width: 200px;
}

.title-section-work {
    margin-top: 80px;
    color: #0597f2;

}

#customers {
 margin: 120 auto;
}

section#customers {
    margin-bottom: 60px;
    padding-bottom: 60px;

}

section#customers {
    background-image: url(../img/bgmap.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    margin-top: 150px;
    margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto;
}


.filter-customer img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
}

.filter-customer img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
}

.mod-description {
    margin-top: auto;
    margin-bottom: auto;
}

section#shot {
    background-image: url(../img/bgcode.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    margin: 100px auto;
}


.title-shot {
    vertical-align: middle;
    margin-top: 150px;
    text-align: center;
}

.description-shot {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff ;
}

ul.icon-footer {
    list-style: none;
    padding-top: 30px;
    padding-left: 0px;
}


li.li-icons-footer {
    text-align: center;
    position: relative;
    padding: 20px 50px;
    background: transparent;
}

li.li-icons-footer i {
    width: 60px;
    height: 60px;
    color: #fff;
    background: azulnicedark;
    text-align: center;
    font-size: 34px;
    line-height: 59px;
    margin: 0 auto;
    // margin-bottom: 20px;
    display: block;
    border: 1px solid #cccccc;
    border-radius: 50%;
}


h6.title-icon-footer {
    color: azulnicedark;
}

.subtitle-icon-footer {
    color: grey;
}


/*clase cuadros, para cada slide*/
.cuadros{   
    // border-radius: .16667em;
    text-align: center;
    height: 200px;
    // line-height: 50px;
    // -webkit-box-shadow: inset 0 0 0 2px hsla(0,0%,100%,.5);
    // box-shadow: inset 0 0 0 2px hsla(0,0%,100%,.5);
    // color: #fff;
    // background: transparent;
    // font-size: 1em;
    // font-weight: 900;
}

.footer-line2 {
    width: 100%;
    height: 1px;
    background: #00eaff;
    background: linear-gradient(90deg,#00eaff 0%, #9708cc 85%);
    background: -webkit-linear-gradient(90deg,#00eaff 0%, #9708cc 85%);
    background: -moz-linear-gradient(90deg,#00eaff 0%, #9708cc 85%);
}


.footer-top {
    padding: 80px 0px 270px;
    position: relative;
}

.footer-bg {
    background: url(../img/fondo-bg.png) center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 266px;
}

.footer-two {
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.footer-icons2 {
    display inline-flex;
    margin-left: auto;
    margin-right: auto;
}


li.footer-li-icons {
    list-style: none;
    margin-left: 20px;
    margin-right 20px;
    margin-top: 11px;
}

p.Designed {
    font-size: 13px;
}

.frontend {
    color: azullightbrand;
}

@media (max-width: 576px) {
    .title-hero {
        font-size: 1.5rem !important;
        font-weight: 300;
        line-height: 1.1;
        color: #ffffff;
    }

    .botones-hero {
        display: none;
    }

    #hero {
        background-image: url(../img/perfil-circle.png);
        background-repeat: no-repeat;
        background-position: 12.5em, right;
        background-size: cover;
        height: 100vw;
    }
    
    .title-partners {
        font-size: 1.5em;
    }

    .wrapper { 
        background-image: url(../img/mini-suite.svg); 
        background-repeat: no-repeat; 
        background-position: center center; 
        background-size: scroll; 
        position: relative; 
        min-height: 100vh; 
    } 

    h2.section-title { 
        font-size: 24px; 
    } 

    p.Description-title { 
        font-size: 20px; 
    } 

}


@media (max-width: 768px) {
    .title-hero {
        font-size: 2.2rem !important;
        font-weight: 300;
        line-height: 1.1;
        color: #ffffff;
    }
    
}